<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
      <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="hibernate.connection.url">jdbc:mysql://localhost/wb</property>
      <property name="hibernate.connection.username">root</property>
      <property name="hibernate.connection.password">aqua23</property>
      <property name="hibernate.connection.pool_size">10</property>
      <property name="show_sql">true</property>
      <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="hibernate.hbm2ddl.auto">update</property>
      <!-- Mapping files -->
      <mapping resource="hbm/word.hbm.xml"/>
      <mapping resource="hbm/domain.hbm.xml"/>
      <mapping resource="hbm/variable.hbm.xml"/>
      <mapping resource="hbm/timeline.hbm.xml"/>
      <mapping resource="hbm/label.hbm.xml"/>
      <mapping resource="hbm/predicateAdaptor.hbm.xml"/>
      <mapping resource="hbm/weatherData.hbm.xml"/>
      <mapping resource="hbm/predicate.hbm.xml"/>
</session-factory>
</hibernate-configuration>